$color1:#57A6DD; 
$color0:#00294A; 
$bianco:#ffffff; 
$nero:#000000;

// MARGINS
$margin-big-lg:68px;
$margin-big-md:68px;
$margin-big-sm:52px;
$margin-big-xs:44px;

$margin-med-lg:44px;
$margin-med-md:44px;
$margin-med-sm:32px;
$margin-med-xs:32px;

$margin-small-lg:30px;
$margin-small-md:24px;
$margin-small-sm:24px;
$margin-small-xs:20px;

//BOX PADDING
$box-padding-lg:30px;
$box-padding-md:24px;
$box-padding-sm:20px;
$box-padding-xs:20px;